spring:
  application:
    name: parking
  datasource:
    url: jdbc:postgresql://localhost:5432/parking
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.yaml
server:
  port: 8090
